.EducationInfo {
  // background-color: lightcoral;

  overflow: visible;

  ul {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: lightblue;
    overflow-x: visible;
    overflow-y: scroll;
    list-style-position: outside;

    li {
      list-style: square;
      position: relative;
      margin: 20px 0px;
      width: 90%;
      // height: 80px;
      margin-left: clamp(0%, 10vw, 5%);
      font-weight: bolder;
      color: black;
      // border: 1px solid lightgreen;
      @include alignCenter();
      flex-direction: column;
      align-items: flex-start;
      font-size: clamp(0.8rem, 2vw, 1.3rem);
      overflow: visible;

      &::before {
        position: absolute;
        content: "";
        left: -5%;
        top: 15%;
        background-color: var(--GoogleGreen);
        border: 1px solid black;
        border-radius: 50%;
        width: clamp(6px, 2vw, 10px);
        height: clamp(6px, 2vw, 10px);
      }

      p {
        // background-color: lightblue;
        margin-right: 15%;
        // strong {
        //   background-color: white;
        //   color: var(--GoogleGreen);
        // }
      }

      #Date {
        position: absolute;
        right: -5%;
        // background-color: lightgreen;
        border: 1px solid transparent;
        border-right: 1px solid lightgreen;
        border-left: 1px solid lightgreen;
        border-radius: 5px;
        width: clamp(45px, 10vw, 100px);
        height: 100%;
        font-size: clamp(0.6rem, 2vw, 0.9rem);
        @include alignCenter();
        padding: 2.5%;
        margin-right: 0;
      }
    }

    #ulTitle {
      list-style: none;
      @include alignCenter();
      margin: clamp(10px, 3vw, 30px);
      &::before {
        display: none;
      }

      h2 {
        font-size: clamp(1.4rem, 4vw, 2rem);
        text-align: center;
        text-decoration: underline var(--GoogleGreen);
      }
    }
  }
}
